apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rabbitmq-monitor
  namespace: rabbitmq-poc
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: rabbitmq-poc-cluster
  endpoints:
    - port: prometheus
      interval: 15s
      path: /metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rabbitmq-poc-app-monitor
  namespace: rabbitmq-poc
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: rabbitmq-poc-app
  endpoints:
    - port: http
      interval: 15s
      path: /actuator/prometheus
